.contacts {
    display: flex;
    flex-direction: column;
    align-items: start;
}

.phone {
    display: flex;
    gap: 4px;
    margin-bottom: 20px;
}

.list {
    display: flex;
    gap: 8px;
}

.link {
    outline: 1px solid transparent;
    border-radius: 4px;

    &:hover,
    &:active {
        color: #780096;
    }

    &:focus-visible {
        color: #780096;
        outline-color: #780096;
    }
}