.link {
    outline: 1px solid transparent;
    border-radius: 4px;

    &:hover,
    &:active {
        color: #780096;
    }

    &:focus-visible {
        outline-color: #780096;
    }
}

img {
    width: 100%;
}